  * {
    box-sizing: border-box;
    background-color: black;
    margin: 0;
    padding: 0;
  }
  .row{
    margin: 0;
    padding: 0;
    height: 30%;
    width: 100%;
    align-items: center;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .row-align{
    margin: 1% 25% 1% 30%; 
  }
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  .header {
    color: #ffffff;
    padding: 0px;
  }
  /*Element listing section */
  .content{
    float: left;
    width: auto;
    height: auto;
    border-top: 0;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    margin-left: 50px;
    padding: 5px;
    z-index: 1;
  }
   .div-thumbnail{
    width: auto;
    height: auto;
    top: -500px;
    border-top: 1px solid #FFFFFF;
    padding-top: 5px;
    z-index: 2;
  }
  #image1{
    width: 100%;
    height: 600px;
    top: 0px;
    z-index: 1;
    filter: drop-shadow(0px 4px 4px rgba(164, 191, 250, 0.836));
  }
  #image2{
    position: relative;
    top: -85px;
    left: 40%;
    width: 25%;
    height: 120px;
    filter: drop-shadow(0px 4px 4px rgba(247, 118, 118, 0.836));
    z-index: 2;
  }
  .thumbnail{
    width: auto;
    height: 200px;
    margin-bottom: 5px;
  }
  p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400px;
    font-size: 15px;
    line-height: 5px;
    color: beige;    
    text-align: center;
  }
  /*Pagination Bar: */
  .pagination-align{
    text-align: center;
  }
  .pagination {
    display: inline-block;
  }
  .pagination a {
    color: rgb(255, 255, 255);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
  }
  .pagination a.active {
    background-color: rgba(164, 191, 250, 0.836);
    color: white;
    border-radius: 5px;
  }
  .pagination a:hover:not(.active) {
    background-color: rgba(247, 118, 118, 0.836);
    border-radius: 5px;
  }
  .footer {
    background-color: #e43d3d;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
  }
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  /* For tablets: */
  @media only screen and (min-width: 600px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 20%;}
    .col-s-4 {width: 25%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  /* For desktop: */
  @media only screen and (min-width: 1000px) { 
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 20%;}
    .col-4 {width: 25%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }